

# https://github.com/jtroo/kanata/discussions/130#discussioncomment-10227272
# Edit the following as necessary, and save it as ~/.config/systemd/user/kanata.service

[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata

[Service]
Environment=PATH=/usr/local/bin:/usr/local/sbin:/usr/bin:/bin
Environment=DISPLAY=:0
Type=simple
ExecStart=kanata --cfg /home/shandlx/kanata/simple.kbd
Restart=never

[Install]
WantedBy=default.target

# Run systemctl --user start kanata.service to start kanata daemon
# Run systemctl --user enable kanata.service so it may autostart whenever the current user logs in.
# Run systemctl --user status kanata.service to check if kanata daemon is running or not
